@import "../../global.scss";

.topbar {
  position: fixed;
  display: flex;
  width: 100%;
  height: 70px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    157deg,
    rgba(2, 0, 36, 1) 13%,
    rgba(82, 82, 124, 1) 34%,
    rgba(0, 212, 255, 1) 100%
  );
  top: 0;
  z-index: 3;
  overflow: hidden;
  transition-timing-function: ease-in;
  transition: all 0.5s;
  @include mobile {
    display: none;
  }
  .wrapper {
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    overflow: hidden;

    .left {
      display: flex;
      align-items: center;

      .itemContainer {
        display: flex;
        align-items: center;

        @include mobile {
          display: none;
        }
        li {
          margin: 25px;
          list-style: none;
        }
        a {
          font-size: 16px;
          font-weight: 700;
          color: $mainColor;
          text-decoration: none;
          letter-spacing: 0.1em;
          transition: all 0.3s ease-in-out;
          box-shadow: 1px 10px 5px -5px rgba(0, 0, 0, 0.75);
          -webkit-box-shadow: 8px 10px 5px -11px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 8px 20px 4px -11px rgba(0, 0, 0, 0.75);
        }
        .btn-draw {
          position: relative;
          display: inline-block;
          color: $background;

          border-radius: 20px;

          cursor: pointer;
          overflow: hidden;
          transition: color 0.3s ease-in-out, background-color 0.1s ease-in-out;
        }
        .btn-draw:after {
          content: "";
          position: absolute;
          right: 0;
          bottom: 0;
          height: 100%;
          width: 1px;
          background: $mainColor;
          transform: translateY(100%);
          transition: transform 0.3s ease-in-out;
          transition-delay: 0.3s;
        }
        .btn-draw > span {
          position: relative;
          display: block;
          padding: 0.5em;
          color: inherit;
        }

        .btn-draw:hover {
          background: darken($hover, 1.5%);
          border: none;
          box-shadow: 1px 1px 2px rgba(#fff, 0.2);
          color: lighten($hover, 18%);
          text-decoration: none;
          text-shadow: -1px -1px 0 darken($hover, 9.5%);
          transition: all 200ms linear;
          box-shadow: 8px 10px 14px -10px rgba(0, 0, 0, 0.75);
          -webkit-box-shadow: 8px 10px 14px -10px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 8px 10px 14px -10px rgba(0, 0, 0, 0.75);
          -ms-transform: rotate(-2deg); /* IE 9 */
          transform: rotate(-2.5deg);
          &:active {
            // background-color: #3e8e41;
            // box-shadow: 0 1px #666;
            transform: translateY(2.5px);
          }
        }
      }
    }
  }
}
